<% content_for(:title, record.title) %>

<section class="record">

  <h1><%= record.title %></h1>

  <% record.files.each do |file| %>
    <section class="player">
      <%= render(partial: file.type.player_tag, locals: { file: file }) %>
    </section>
  <% end %>

  <% if record.description %>
    <table>
      <thead>
      <tr>
        <th><h2>Description</h2></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="description">
          <p><%= record.description %></p>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <table>
    <thead>
    <tr>
      <th colspan="2"><h2>Details</h2></th>
    </tr>
    </thead>
    <tbody>
    <% record.fields.each do |f| %>
      <% next if f.tag == '520' # skip description displayed above %>
      <tr>
        <th><p><%= f.label %></p></th>
        <td>
          <% if f.respond_to?(:lines) %>
            <% f.lines.each { |line| %><p><%= line %></p>
            <% } %>
          <% elsif f.respond_to?(:links) %>
            <% f.links.each { |link| %><p><%= link_to(link.body, link.url) %></p>
            <% } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>

<!--
<%= render(partial: 'debug.txt', formats: :raw, locals: { record: record }) %>
-->
