<% content_for(:title, "#{record.type_label}: #{record.title}") %>

<%= render(partial: 'player_head_additional') %>

<section class="record">

  <h1><%= record.title %></h1>

  <% if record.tracks.empty? %>
    <p>No track information found.</p>
  <% else %>
    <% record.tracks.each_with_index do |track, index| %>
      <section class="player">
        <%
          # TODO: switch first track back to auto after fix for https://github.com/mediaelement/mediaelement/issues/2828
          # preload = index == 0 ? 'auto' : 'none'
          preload = 'none'
          locals = {
            track: track,
            index: index,
            preload: preload
          }
        %>
        <%= render(partial: track.player_partial, locals: locals) %>
        <% if track.duration || !track.title.blank? %>
          <ul class="track-info">
            <% unless track.title.blank? %>
              <li><%= track.title %></li>
            <% end %>
            <% if track.duration %>
              <li><%= track.duration %></li>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>
  <% end %>

  <script>
      rewrite_src_tags();
  </script>

  <% unless record.description.blank? %>
    <table>
      <thead>
      <tr>
        <th><h2>Description</h2></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="description">
          <p><%= record.description %></p>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <table>
    <thead>
    <tr>
      <th colspan="2"><h2>Details</h2></th>
    </tr>
    </thead>
    <tbody>

    <% record.metadata.tap do |metadata| %>
      <% metadata.values.each do |v| %>
        <% next if v.tag == '520' # skip description displayed above %>
        <%
          lines = v.respond_to?(:lines) ? v.lines : []
          links = [].tap do |ll|
            next unless v.respond_to?(:links)
            v.links.each { |l| ll << l unless l.match?(url: /oskicat/) }
          end
          next unless lines.any? || links.any?
        %>
        <tr>
          <th><p><%= v.label %></p></th>
          <td>
            <% lines.each { |line| %><p><%= line %></p><% } %>
            <% links.each { |link| %><p><%= link_to(link.body, link.url) %></p><% } %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

</section>

<!--
<%= render(partial: 'debug', formats: :txt, locals: { record: record }) %>
-->
