<% content_for(:title, "#{record.type_label}: #{record.title}") %>

<%= render(partial: 'player_head_additional') %>

<article class="record">

  <h1><%= record.title %></h1>

  <% if record.tracks.empty? %>
    <p>No track information found.</p>
  <% else %>
    <% record.tracks.each_with_index do |track, index| %>
      <section class="player">
        <%
          # TODO: switch first track back to auto after fix for https://github.com/mediaelement/mediaelement/issues/2828
          # preload = index == 0 ? 'auto' : 'none'
          preload = 'none'
          locals = {
            track: track,
            index: index,
            preload: preload
          }
        %>
        <%= render(partial: track.player_partial, locals: locals) %>
        <% if track.duration || !track.title.blank? %>
          <aside class="track-info">
            <% unless track.title.blank? %>
              <div><%= track.title %></div>
            <% end %>
            <% if track.duration %>
              <div><%= track.duration %></div>
            <% end %>
          </aside>
        <% end %>
      </section>
    <% end %>
  <% end %>

  <script>
      rewrite_src_tags();
      initialize_players();
  </script>

  <% unless record.description.blank? %>
    <table>
      <thead>
      <tr>
        <th><h2>Description</h2></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="description">
          <p><%= record.description %></p>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <table>
    <thead>
    <tr>
      <th colspan="2"><h2>Details</h2></th>
    </tr>
    </thead>
    <tbody>

    <% record.metadata.tap do |metadata| %>
      <% metadata.values_by_field.each do |f, v| %>
        <% next if f == BerkeleyLibrary::AV::Metadata::Fields::DESCRIPTION # skip description displayed above %>
        <% entries = v.entries.reject { |e| e.to_s.include?('oskicat') } %>
        <% next if entries.empty? %>
        <tr>
          <th><p><%= v.label %></p></th>
          <td>
            <% entries.each do |entry| %>
              <p>
                <% if entry.is_a?(BerkeleyLibrary::AV::Metadata::Link) %>
                  <%= link_to(entry.body, entry.url) %>
                <% else %>
                  <%= entry %>
                <% end %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

</article>

<!--
<%= render(partial: 'debug', formats: :text, locals: { record: record }) %>
-->
