<% content_for(:title, "#{record.type_label}: #{record.title}") %>

<%= render(partial: 'player_head_additional') %>

<section class="record">

  <h2><%= record.title %></h2>

  <% if record.tracks.empty? %>
    <p>No track information found.</p>
  <% else %>
    <% record.tracks.each_with_index do |track, index| %>
      <section class="player">
        <%
          preload = index == 0 ? 'auto' : 'none'
          locals = {
              track: track,
              index: index,
              preload: preload
          }
        %>
        <%= render(partial: track.file_type.player_tag, locals: locals) %>
        <% if track.duration || !track.title.blank? %>
          <ul class="track-info">
            <% unless track.title.blank? %>
              <li><%= track.title %></li>
            <% end %>
            <% if track.duration %>
              <li><%= track.duration %></li>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>
  <% end %>

  <script>
      rewrite_src_tags();
  </script>

  <% unless record.description.blank? %>
    <table>
      <thead>
      <tr>
        <th><h3>Description</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="description">
          <p><%= record.description %></p>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <table>
    <thead>
    <tr>
      <th colspan="2"><h3>Details</h3></th>
    </tr>
    </thead>
    <tbody>
    <% record.metadata.tap do |metadata| %>
      <% metadata.values.each do |v| %>
        <% next if v.tag == '520' # skip description displayed above %>
        <tr>
          <th><p><%= v.label %></p></th>
          <td>
            <% if v.respond_to?(:lines) %>
              <% v.lines.each { |line| %><p><%= line %></p>
              <% } %>
            <% elsif v.respond_to?(:links) %>
              <% v.links.each { |link| %><p><%= link_to(link.body, link.url) %></p>
              <% } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

</section>

<!--
<%= render(partial: 'debug.txt', formats: :raw, locals: { record: record }) %>
-->
