<% content_for(:title, "#{record.type_label}: #{record.title}") %>

<%= render(partial: 'player_head_additional') %>

<section class="record">

  <h1><%= record.title %></h1>
  <% #record.metadata.marc_record.class %>
  <% transcripts = [] %>
  <% eight56_fields = record.metadata.marc_record.fields(['856']) %>
  <% if eight56_fields.any? %>
    <% #eight56_fields.each {|f| f.to_hash } %>
    <% eight56_fields.each do |f| %>
      <% if f.indicator1 == '4' && f.indicator2 == '2' %>
        <% subfields = f.subfields.each_with_object({}) {|sf, hash| hash[sf.code] = sf.value } %>
        <% if subfields['u'] && subfields['y'] && subfields['y'].downcase.include?('transcript') %>
          <% transcripts << subfields['u']  %>
        <% end %>
      <% end %>
            
    <% end %>
  <% end %>
  <% #byebug %>
  <% if record.tracks.empty? %>
    <p>No track information found.</p>
  <% else %>
    <% record.tracks.each_with_index do |track, index| %>
      <section class="player">
        <%
          # TODO: switch first track back to auto after fix for https://github.com/mediaelement/mediaelement/issues/2828
          # preload = index == 0 ? 'auto' : 'none'
          preload = 'none'
          locals = {
            track: track,
            index: index,
            preload: preload
          }
        %>
        <%= render(partial: track.player_partial, locals: locals) %>
        <% if track.duration || !track.title.blank? %>
          <ul class="track-info">
            <% unless track.title.blank? %>
              <li><%= track.title %></li>
            <% end %>
            <% if track.duration %>
              <li><%= track.duration %></li>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>
  <% end %>

  <script>
      rewrite_src_tags();
      initialize_players();
  </script>

  <% unless record.description.blank? %>
    <table>
      <thead>
      <tr>
        <th><h2>Description</h2></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="description">
          <p><%= record.description %></p>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <table>
    <thead>
    <tr>
      <th colspan="2"><h2>Details</h2></th>
    </tr>
    </thead>
    <tbody>

    <% record.metadata.tap do |metadata| %>
      <% metadata.values_by_field.each do |f, v| %>
        <% next if f == BerkeleyLibrary::AV::Metadata::Fields::DESCRIPTION # skip description displayed above %>
        <% entries = v.entries.reject { |e| e.to_s.include?('oskicat') } %>
        <% next if entries.empty? %>
        <tr>
          <th><p><%= v.label %></p></th>
          <td>
            <% entries.each do |entry| %>
              <p>
                <% if entry.is_a?(BerkeleyLibrary::AV::Metadata::Link) %>
                  <%= link_to(entry.body, entry.url) %>
                <% else %>
                  <%= entry %>
                <% end %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if transcripts.any? %>
        <tr>
          <th><p>Transcripts</p></th>
          <td>
            <% transcripts.each do |transcript| %>
              <%= link_to(File.basename(URI.parse(transcript).path), transcript) %>
            <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>

</section>

<!--
<%= render(partial: 'debug', formats: :text, locals: { record: record }) %>
-->
