<% content_for(:title, 'Home') %>

<!--suppress HtmlUnknownTarget -->
<main>

  <section class="record">

    <h2>Examples: Millennium metadata</h2>

    <table>
      <thead>
      <tr>
        <th colspan="2"><h3>Public</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Wanda Coleman', controller: :player, action: :show,
                     collection: 'Pacifica',
                     paths: 'PRA_NHPRC1_AZ1084_00_000_00.mp3',
                     record_id: 'millennium:b23305522'
                 )%></p>
        </td>
      </tr>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Author Alice Walker reads the short story, Roselily.', controller: :player, action: :show,
                     collection: 'Pacifica',
                     paths: 'PRA_NHPRC1_AZ1010_00_000_00.mp3',
                     record_id: 'millennium:b23305516'
                 )%></p>
        </td>
      </tr>
      <tr>
        <th>Video</th>
        <td>
          <p><%= link_to(
                     'Communists on campus', controller: :player, action: :show,
                     collection: 'MRC',
                     paths: 'mrc/6927.mp4',
                     record_id: 'millennium:b22139658'
                 )%></p>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="metadata">
      <thead>
      <tr>
        <th colspan="2"><h3>Restricted</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Interview with Joyce Carol Oates, January 26, 2016', controller: :player, action: :show,
                     collection: 'City',
                     paths: 'CA01693.mp3',
                     record_id: 'millennium:b24071548'
                 )%></p>
        </td>
      </tr>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Spelling Bee for Cheaters', controller: :player, action: :show,
                     collection: 'City',
                     paths: 'CA01476a.mp3;CA01476b.mp3',
                     record_id: 'millennium:b18538031'
                 )%> (2 files)</p>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="metadata">
      <thead>
      <tr>
        <th colspan="2"><h3>Missing or nonexistent records</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Arno Waltiri: Das Unendlichkeit Konzert, Opus 45.', controller: :player, action: :show,
                     collection: 'Pandall',
                     paths: '1939-11-23-Waltiri.mp3',
                     record_id: 'millennium:abcdefg'
                 )%></p>
        </td>
      </tr>
      </tbody>
    </table>

  </section>

  <section class="record">

    <h2>Examples: TIND metadata</h2>

    <table>
      <thead>
      <tr>
        <th colspan="2"><h3>Public</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Wanda Coleman', controller: :player, action: :show,
                     collection: 'Pacifica',
                     paths: 'PRA_NHPRC1_AZ1084_00_000_00.mp3',
                     record_id: 'tind:21178'
                 )%></p>
        </td>
      </tr>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Author Alice Walker reads the short story, Roselily.', controller: :player, action: :show,
                     collection: 'Pacifica',
                     paths: 'PRA_NHPRC1_AZ1010_00_000_00.mp3',
                     record_id: 'tind:19816'
                 )%></p>
        </td>
      </tr>
      <tr>
        <th>Video</th>
        <td>
          <p>Communists on campus <strong>(not yet in TIND)</strong></p>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="metadata">
      <thead>
      <tr>
        <th colspan="2"><h3>Restricted</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Interview with Joyce Carol Oates, January 26, 2016', controller: :player, action: :show,
                     collection: 'City',
                     paths: 'CA01693.mp3',
                     record_id: 'tind:4959'
                 )%></p>
        </td>
      </tr>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Spelling Bee for Cheaters', controller: :player, action: :show,
                     collection: 'City',
                     paths: 'CA01476a.mp3;CA01476b.mp3',
                     record_id: 'tind:4188'
                 )%> (2 files)</p>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="metadata">
      <thead>
      <tr>
        <th colspan="2"><h3>Missing or nonexistent records</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><%= link_to(
                     'Arno Waltiri: Das Unendlichkeit Konzert, Opus 45.', controller: :player, action: :show,
                     collection: 'Pandall',
                     paths: '1939-11-23-Waltiri.mp3',
                     record_id: 'tind:0'
                 )%></p>
        </td>
      </tr>
      </tbody>
    </table>

  </section>

</main>
