<% content_for(:title, 'Audio / Video: Home') %>

<!--suppress HtmlUnknownTarget -->

<h1>Examples</h1>

<%
  {
    'Public' => {
      'MRCAudio' => {
        'Robert Frost: Poetry reading, November 8, 1953 (2 files)' => {
          AV::RecordId::Type::ALMA => '991038544199706532',
          AV::RecordId::Type::MILLENNIUM => 'b11082434'
        }
      },
      'Pacifica' => {
        'Author Alice Walker reads the short story, Roselily.' => {
          AV::RecordId::Type::ALMA => '991035377049706532',
          AV::RecordId::Type::MILLENNIUM => 'b23305516',
          AV::RecordId::Type::TIND => '(pacradio)00107'
        },
        'Wanda Coleman' => {
          AV::RecordId::Type::ALMA => '991035377279706532',
          AV::RecordId::Type::MILLENNIUM => 'b23305522',
          AV::RecordId::Type::TIND => '(pacradio)-01469'
        }
      },
      'Video-Public-MRC' => {
        'Communists on campus' => {
          AV::RecordId::Type::ALMA => '991010948099706532',
          AV::RecordId::Type::MILLENNIUM => 'b22139658'
        }
      },
      'Video-Public-Physics' => {
        'Particle Fever: Physics Department screening' => {
          AV::RecordId::Type::TIND => 'physcolloquia-bk00169017b'
        }
      },
      'music' => {
        'Instructional tape: piobareachd (20 files)' => {
          AV::RecordId::Type::ALMA => '991033920629706532',
          AV::RecordId::Type::MILLENNIUM => 'b23161018'
        }
      }
    },
    'Restricted' => {
      'City' => {
        'Interview with Joyce Carol Oates, January 26, 2016' => {
          AV::RecordId::Type::ALMA => '991042518099706532',
          AV::RecordId::Type::MILLENNIUM => 'b24071548',
          AV::RecordId::Type::TIND => '(cityarts)00773'
        },
        'Spelling Bee for Cheaters' => {
          AV::RecordId::Type::ALMA => '991079960029706532',
          AV::RecordId::Type::MILLENNIUM => 'b18538031',
          AV::RecordId::Type::TIND => '(cityarts)00002'
        }
      },
      'Video-UCBOnly-MRC' => {
        'Voices of the Rainforest' => {
          AV::RecordId::Type::ALMA => '991053883429706532',
          AV::RecordId::Type::MILLENNIUM => 'b25596697'
        },
        'XXXY' => {
          AV::RecordId::Type::MILLENNIUM => 'b23935657'
        }
      }
    },
    'Nonexistent' => {
      'Pandall' => {
        'Arno Waltiri: Das Unendlichkeit Konzert, Opus 45.' => {
          AV::RecordId::Type::ALMA => '991099999999996532',
          AV::RecordId::Type::MILLENNIUM => 'b999999999',
          AV::RecordId::Type::TIND => '999999999'
        }
      }
    }
  }.each do |coll_type, records_by_collection|
%>
  <table>
    <thead>
    <th>
      <h2><%= coll_type %> collections</h2>
    </th>
    </thead>
    <% records_by_collection.each do |collection, records_by_title| %>
      <tbody>
      <tr>
        <td class="description"><%= collection %></td>
      </tr>
      <% records_by_title.each do |title, record_ids_by_type| %>
        <% record_ids_by_type.each do |type, record_id| %>
          <tr>
            <td><%= type.to_s %></td>
          <tr>
            <td>
              <%= link_to(
                    title,
                    controller: :player,
                    action: :show,
                    collection: collection,
                    record_id: record_id
                  ) %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
      <%= collection %>
      </table>
    <% end %>
<% end %>

<%# TODO: add file preview %>
