<% content_for(:title, 'Audio / Video: Home') %>

<!--suppress HtmlUnknownTarget -->

<h1>Examples</h1>

<p class="note">
  Note that the development license used on the staging Wowza server is limited
  to 10 simultaneous connections, so records with large numbers of tracks may not
  load properly when streaming from that server.
</p>

<%
  def video?(coll)
    coll.downcase.include?('video')
  end
  records = {
    'Public' => {
      'MRCAudio' => {
        'Robert Frost: Poetry reading, November 8, 1953 (2 files)' => {
          'Alma' => '991038544199706532',
          'Millennium' => 'b11082434'
        }
      },
      'Pacifica' => {
        'Author Alice Walker reads the short story, Roselily.' => {
          'Alma' => '991035377049706532',
          'Millennium' => 'b23305516',
          'TIND' => '(pacradio)00107'
        },
        'Wanda Coleman' => {
          'Alma' => '991035377279706532',
          'Millennium' => 'b23305522',
          'TIND' => '(pacradio)-01469'
        }
      },
      'Video-Public-MRC' => {
        'Communists on campus' => {
          'Alma' => '991010948099706532',
          'Millennium' => 'b22139658'
        }
      },
      'Video-Public-Physics' => {
        'Particle Fever: Physics Department screening' => {
          'TIND' => 'physcolloquia-bk00169017b'
        }
      },
      'music' => {
        'Instructional tape: piobareachd (20 files)' => {
          'Alma' => '991033920629706532',
          'Millennium' => 'b23161018'
        }
      }
    },
    'Restricted' => {
      'City' => {
        'Interview with Joyce Carol Oates, January 26, 2016' => {
          'Alma' => '991042518099706532',
          'Millennium' => 'b24071548',
          'TIND' => '(cityarts)00773'
        },
        'Spelling Bee for Cheaters' => {
          'Alma' => '991079960029706532',
          'Millennium' => 'b18538031',
          'TIND' => '(cityarts)00002'
        }
      }
    },
    'CalNet only' => {
      'Video-UCBOnly-MRC' => {
        'Voices of the Rainforest' => {
          'Alma' => '991053883429706532',
          'Millennium' => 'b25596697'
        },
      }
    },
    'Not in Alma (?)' => {
      'Video-UCBOnly-MRC' => {
        'XXXY' => {
          'Millennium' => 'b23935657'
        }
      }
    },
    'Nonexistent record' => {
      'Pandall' => {
        'Arno Waltiri: Das Unendlichkeit Konzert, Opus 45.' => {
          'Alma' => '991099999999996532',
          'Millennium' => 'b999999999',
          'TIND' => '999999999'
        }
      }
    }
  }
%>

<% records.each do |viz, records_by_coll| %>
  <section class="record">
    <table>
      <thead>
      <tr>
        <th>
          <h2><%= viz %></h2>
        </th>
      </tr>
      </thead>
      <tbody>
      <% records_by_coll.each do |collection, records_by_title| %>
        <% rtype = video?(collection) ? 'Video' : 'Audio' %>
        <% records_by_title.each do |title, records_by_id_type| %>
          <tr>
            <th><%= rtype %></th>
            <td>
              <p><%= title %></p>
              <table>
                <tbody>
                <tr>
                  <% records_by_id_type.each do |id_type, record_id| %>
                    <% record_url = player_url(collection: collection, record_id: record_id) %>
                    <th><%= id_type %></th>
                    <td>
                      <%= link_to(record_url, record_url) %>
                      <% if id_type == 'Millennium' %>
                        (using Alma metadata)
                      <% end %>
                    </td>
                  <% end %>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </section>
<% end %>

<%# TODO: add file preview %>
