<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= yield(:title) %></title>

  <meta name="EZproxyRewriting" content="disable"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- End favicon -->

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://use.typekit.net/rxa5jay.css"/>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= yield :head_additional %>
</head>

<body>
<a href="#main" class="visually-hidden focusable skip-link">Skip to main content</a>
<%= render(partial: 'layouts/header') %>
<main id="main">
  <%= yield %>
</main>
<%= render(partial: 'layouts/footer') %>
</body>
<%= AvPlayer::BuildInfo.as_html_comment %>
</html>
