<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>AV Player: <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap&subset=latin-ext" rel="stylesheet">

    <%# TODO: move this to player only %>
    <%# TODO: handle JS errors (e.g. 403/404/CORS issues w/media URL) %>
    <%# TODO: figure out how to load this from node_modules with Webpacker %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mediaelement@4.2.10/build/mediaelement-and-player.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.10/build/mediaelementplayer.css">
  </head>

  <body>
  <header>
    <nav><a href="/">AV Player Home</a></nav>
  </header>

  <%= yield %>

  <footer>
    <p>
    Copyright &copy; <%= Date.today.year %> The Regents of the University of California. All rights reserved.
    </p>
  </footer>
  </body>
</html>
