<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="EZproxyRewriting" content="disable">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %></title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- End favicon -->

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://use.typekit.net/rxa5jay.css"/>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

  <%= yield :head_additional %>
</head>

<body>
<header>
  <h1 class="header-logo">
    <a href="https://www.lib.berkeley.edu/">
      <%= image_tag('UCBerkeley_Library_wordmark_black.svg', class: 'header-logo', alt: 'UC Berkeley Library') %>
      <span class="site-name">Audio / Video</span>
    </a>
  </h1>
  <nav>
    <input type="checkbox" id="nav-menu">
    <label class="nav-menu-label" for="nav-menu">
      <%= image_tag('nav-menu.svg', alt: 'Menu') %>
    </label>
    <ul>
      <li>
        <a href="https://digital.lib.berkeley.edu/">Digital Collections Home</a>
      </li>
      <li>
        <a href="https://www.lib.berkeley.edu/">Library Home</a>
      </li>
    </ul>
  </nav>
</header>

<%= yield %>

<footer>
  <section class="copyright-info">
    <p>
      Copyright &copy; <%= Date.today.year %> The Regents of the University of California. All rights reserved.
    </p>
    <p>
      Except where otherwise noted, this work is subject to a
      <a href="http://www.lib.berkeley.edu/about/creative-commons">Creative Commons Attribution-Noncommercial 4.0
        License</a>.
    </p>
  </section>
  <section class="social-media">
    <a href="https://www.facebook.com/ucberkeleylibrary/"><%= image_tag('icons/facebook-square.svg', class: 'social-media-icon', alt: 'Facebook') %></a>
    <a href="https://twitter.com/UCBerkeleyLib"><%= image_tag('icons/twitter-square.svg', class: 'social-media-icon', alt: 'Twitter') %></a>
    <a href="https://www.youtube.com/channel/UCrwP3Cw1FHwqslSAG5JkLTQ"><%= image_tag('icons/youtube-square.svg', class: 'social-media-icon', alt: 'YouTube') %></a>
    <a href="https://www.instagram.com/ucberkeleylibrary/"><%= image_tag('icons/instagram.svg', class: 'social-media-icon', alt: 'Instagram') %></a>
  </section>
  <section class="footer-logo">
    <a href="http://www.berkeley.edu/"><%= image_tag('UCBerkeley_wordmark_white.svg', class: 'footer-logo', alt: 'UC Berkeley') %></a>
  </section>
</footer>
</body>
</html>
